alabaster==0.7.12
AnyQt @ file:///home/conda/feedstock_root/build_artifacts/anyqt_1603277375561/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217285838/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astroid==1.6.5
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
Automat==20.2.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
baycomp==1.0.2
bcrypt @ file:///D:/bld/bcrypt_1602546733945/work
beautifulsoup4==4.9.3
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
Bottleneck @ file:///D:/bld/bottleneck_1610560743251/work
brotlipy==0.7.0
CacheControl==0.12.6
cached-property==1.5.1
cachetools==4.1.1
caer==1.9.8
canaro==1.1.0
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1602537397014/work
chardet @ file:///D:/bld/chardet_1602255527687/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
cmake==3.18.2.post1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorcet==2.0.2
commonmark==0.9.1
constantly==15.1.0
contextvars==2.4
cryptography @ file:///D:/bld/cryptography_1604179416052/work
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1607657054678/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1602075176424/work
deap @ file:///D:/bld/deap_1610548260358/work
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.8.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
djitellopy==1.5
dlib==19.8.1
docopt==0.6.2
docutils @ file:///D:/bld/docutils_1602628433083/work
efficientnet==1.0.0
entrypoints @ file:///D:/bld/entrypoints_1602702004030/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
extranormal3==0.0.3
face-recognition==1.3.0
face-recognition-models==0.3.0
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1601874335748/work
flatbuffers==1.12
future @ file:///D:/bld/future_1602538622201/work
gast==0.2.2
google-auth==1.21.2
google-auth-oauthlib==0.4.1
google-images-download @ git+https://github.com/Joeclinton1/google-images-download.git@58a190b584bd690c6eaab745d519179a11c7c484
google-pasta==0.2.0
grpcio @ file:///D:/bld/grpcio_1607005214032/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
h2 @ file:///D:/bld/h2_1610643982986/work
h5py @ file:///D:/bld/h5py_1602551990926/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1608119064862/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1607448970965/work
hyperframe==6.0.0
hyperlink==20.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
image-classifiers==1.0.0
imagecodecs @ file:///D:/bld/imagecodecs_1607400723459/work
imagecodecs-lite @ file:///D:/bld/imagecodecs-lite_1602583295696/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
immutables @ file:///D:/bld/immutables_1610368221926/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1607976142583/work
imutils @ file:///D:/bld/imutils_1604239032614/work
incremental==17.5.0
intervaltree==3.0.2
ipykernel @ file:///D:/bld/ipykernel_1602683102390/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1593235603364/work
ipython-genutils==0.2.0
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1602591728846/work
jdcal==1.4.1
jedi @ file:///D:/bld/jedi_1609162699186/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1607956439537/work
Js2Py==0.70
json-rpc==1.12.2
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-core @ file:///D:/bld/jupyter_core_1605735229817/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring @ file:///D:/bld/keyring_1602701380964/work
keyrings.alt @ file:///home/conda/feedstock_root/build_artifacts/keyrings.alt_1608136994844/work
kiwisolver @ file:///D:/bld/kiwisolver_1604322572980/work
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1602277686720/work
lockfile==0.12.2
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1595925083607/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1603668500820/work
MarkupSafe @ file:///D:/bld/markupsafe_1602267688190/work
matplotlib @ file:///D:/bld/matplotlib-suite_1604871166083/work
mccabe==0.6.1
mistune @ file:///D:/bld/mistune_1602381947199/work
msgpack @ file:///D:/bld/msgpack-python_1610121913322/work
mypy==0.800
mypy-extensions==0.4.3
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///D:/bld/nbconvert_1603792739385/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
ndf==0.1.4
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1604290829246/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
notebook @ file:///D:/bld/notebook_1608772881587/work
numpy @ file:///D:/bld/numpy_1603047746511/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-contrib-python==4.1.0.25
opencv-python==4.5.1.48
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1610671411818/work
openTSNE @ file:///D:/bld/opentsne_1610118414790/work
opt-einsum==3.3.0
orange-canvas-core @ file:///home/conda/feedstock_root/build_artifacts/orange-canvas-core_1603453735158/work
Orange-Spectroscopy==0.5.7
orange-widget-base @ file:///home/conda/feedstock_root/build_artifacts/orange-widget-base_1606508313112/work
Orange3 @ file:///C:/ci/orange3_1594060149915/work
Orange3-ImageAnalytics==0.5.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1604166721304/work
pandocfilters==1.4.2
param==1.10.1
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1598988093657/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1607618318316/work
pathtools==0.1.2
patsy==0.5.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1609628037329/work
pipwin==0.5.0
pluggy @ file:///D:/bld/pluggy_1603384360521/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1605053337398/work
protobuf==3.14.0
psutil @ file:///D:/bld/psutil_1603571180816/work
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyct==0.4.8
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pydot @ file:///D:/bld/pydot_1602650963617/work
pyflakes==2.2.0
pygame==2.0.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1607352093725/work
pygpu==0.7.6
PyHamcrest==2.0.2
pyjsparser==2.7.1
pylint==1.8.4
PyNaCl @ file:///D:/bld/pynacl_1602614393317/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPrind==2.11.2
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1608440585394/work
PyQtWebEngine==5.12.1
pyreadline @ file:///D:/bld/pyreadline_1602253116910/work
pyrsistent @ file:///D:/bld/pyrsistent_1602260134717/work
pySmartDL==1.3.4
PySocks @ file:///D:/bld/pysocks_1602327039693/work
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1601036528315/work
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server==0.11.1
python-louvain @ file:///home/conda/feedstock_root/build_artifacts/python-louvain_1609125227889/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1608904108784/work
PyWavelets @ file:///D:/bld/pywavelets_1607290980702/work
pywin32==228
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1602283383863/work
pywinpty @ file:///D:/bld/pywinpty_1602377668868/work
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1601436771964/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
renishawWiRE==0.1.13
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib==1.3.0
rfc3986 @ file:///home/conda/feedstock_root/build_artifacts/rfc3986_1593217945888/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1602094471915/work
rsa==4.6
Rtree==0.9.4
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598358870446/work
scipy @ file:///C:/bld/scipy_1604304921754/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1604238753550/work
segmentation-models==1.0.1
selenium==3.141.0
Send2Trash==1.5.0
serverfiles==0.3.0
Shapely==1.7.1
simplejson==3.17.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sniffio @ file:///D:/bld/sniffio_1610318568267/work
snowballstemmer==2.0.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve==2.1
spectral==0.22.1
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
split-folders==0.4.2
spyder==3.3.6
spyder-kernels==0.5.2
statsmodels @ file:///D:/bld/statsmodels_1604227174275/work
tensorboard==2.0.2
tensorflow==2.0.1
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1609794344119/work
testpath==0.4.4
tflite==2.4.0
Theano @ file:///D:/bld/theano_1604228915627/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1593913740982/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
torch==1.7.0
torchvision==0.8.1
tornado @ file:///D:/bld/tornado_1604105157725/work
tqdm==4.49.0
traitlets==4.3.3
Twisted==20.3.0
typed-ast==1.4.2
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
tzlocal==2.1
ujson @ file:///D:/bld/ujson_1602282231442/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
watchdog @ file:///D:/bld/watchdog_1602389888623/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==1.0.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1602260226001/work
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1606141424878/work
xgboost==1.3.3
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1602583799765/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
zope.interface==5.1.2